#!/usr/bin/env python
PACKAGE = "rm_gimbal_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("yaw_k_v_", double_t, 0, "Yaw input feedforward scale", 0.0, 0, 1.0)
gen.add("pitch_k_v_", double_t, 0, "Pitch input feedforward scale", 0.0, 0, 1.0)
gen.add("accel_yaw_", double_t, 0, "Acceleration of rate yaw", 0.0, 0, 999.0)
gen.add("accel_pitch_", double_t, 0, "Acceleration of rate pitch", 0.0, 0, 999.0)
gen.add("k_chassis_vel_", double_t, 0, "Yaw chassis velocity feedforward scale", 0.0, 0, 1.0)


gen.add("q1", double_t, 0, "State weight q1", 100.0, 0.0, 1000.0)
gen.add("q2", double_t, 0, "State weight q2", 10.0, 0.0, 1000.0)
gen.add("q3", double_t, 0, "State weight q3", 100.0, 0.0, 1000.0)
gen.add("q4", double_t, 0, "State weight q4", 10.0, 0.0, 1000.0)
gen.add("r1", double_t, 0, "Input weight r1", 5.0, 0.0, 100.0)
gen.add("r2", double_t, 0, "Input weight r2", 5.0, 0.0, 100.0)
gen.add("a1", double_t, 0, "Damping a1", 0.1, 0.0, 1.0)
gen.add("a2", double_t, 0, "Damping a2", 0.1, 0.0, 1.0)
gen.add("j1", double_t, 0, "Inertia j1", 1.0, 0.0, 10.0)
gen.add("j2", double_t, 0, "Inertia j2", 1.0, 0.0, 10.0)
gen.add("dc_", double_t, 0, "Coupling dc", 0.0, -1.0, 1.0)


exit(gen.generate(PACKAGE, "gimbal_base", "GimbalBase"))
#exit(gen.generate(PACKAGE, "rm_gimbal_controllers", "GimbalBaseConfig"))